.logo{
    height: 20px;
    width: auto;
}

.top-bar{
    background-color: white;
    padding: 10px;
    aling-items: left;
    height: 75px;
    display: flex;
}
body{
    background-color: black;
}
