@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.logo{
    height: auto;
    width: 30%;
    margin-left: 10px;
}

.top-bar{
    background-color: black;
    padding: 0px
    margin: 0px;
    aling-items: left;
    height: 75px;
    width: 100%;
    display: flex;
}
body{
    background-color: white;
}

.image{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}
.image-text{
    font-family: "Playfair Display", serif;
    z-index: 1;
    text-aling: center;
    color: black;
    position: absolute;
}
.image-text h1{
    font-family: "Playfair Display", serif;
    font-weight: bold;
}
