@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

.logo{
    height: 40px;
    width: auto;
    display: block;
    z-index: 100;
    max-height: 100%
    max-width: 100%;
    margin-top: 30px;
}
.logo-container{
    display: flex;
    aling-items: center;
    justify-content: center;
    flex-grow: 1;
    }
.top-bar{
    background-color: black;
    padding: 10px
    aling-items: center;
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    justify-content: center;
}

.kuva{
    position: relative;
    }
    
body{
    background-color: white;
}

.image{
    position:absolute;
    height:800px;
    width:100%;
    left:0;
    top:0;
    right:0;
    bottom:0;
    object-fit:cover;
    color:transparent
    z-index: 0;
}
.ad-image{
    position: relative;
    width: 100%
    height: auto;
    display: flex;
    flex-direction: column;
    }
.image-text{
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 400px;
    margin-left: 100px;
    
}
.image-text h1{
    font-family: "Playfair Display", serif;
    font-weight: bold;
    background-color: black;
    transform: scale(3);
}
